.not-found-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafbfe;
  font-family: 'Hanken Grotesk';
}

.not-found-image {
  width: clamp(200px, 95%, 475px);
}

.not-found-heading {
  font-weight: 500;
  color: #334155;
}

.not-found-para {
  color: #64748b;
  font-weight: 400;
  text-align: center;
}

.not-found-text-container {
  padding: 0 40px 0 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .not-found-heading {
    font-size: 36px;
    margin: 15px;
  }

  .not-found-para {
    font-size: 16px;
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .not-found-heading {
    font-size: 16px;
    margin: 10px;
  }

  .not-found-para {
    font-size: 14px;
    margin: 5px;
  }
}
